<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579723618334-i7pu9dkglna6sfno3ssfecm7jb0a3pe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579723618334-i7pu9dkglna6sfno3ssfecm7jb0a3pe6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBif3QxCD1zxfBGDnWPsKHeyfbQ8EuLok</string>
	<key>GCM_SENDER_ID</key>
	<string>579723618334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.xpress.ongCoffeeDelivery</string>
	<key>PROJECT_ID</key>
	<string>ongcoffeedelivery</string>
	<key>STORAGE_BUCKET</key>
	<string>ongcoffeedelivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579723618334:ios:01daa3ba325e0f6549e60f</string>
</dict>
</plist>